/* General Calendar Styling */
.fc {
  --fc-border-color: rgba(255, 255, 255, 0.1);
  --fc-today-bg-color: rgba(14, 165, 233, 0.1);
  --fc-page-bg-color: transparent;
  position: relative;
  background: rgba(20, 20, 20, 0.95);
  backdrop-filter: blur(10px);
  padding: 10px;
  border: none;
  box-shadow: 0 0 20px rgba(14, 165, 233, 0.1);
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.3s ease;
}

/* Toolbar Header */
.fc-header-toolbar {
  background: rgba(30, 30, 30, 0.9);
  padding: 1rem;
  border-radius: 12px;
  margin: 0.5rem !important;
  border: 1px solid rgba(99, 102, 241, 0.2);
}

.fc-toolbar-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

/* Day Cells */
.fc-daygrid-day {
  background: rgba(30, 30, 30, 0.5);
  border: 1px solid rgba(99, 102, 241, 0.1);
  transition: all 0.2s ease;
}

.fc-daygrid-day:hover {
  background: rgba(40, 40, 40, 0.8);
  border-color: rgba(99, 102, 241, 0.3);
  border-radius: 16px;
  transform: scale(0.95);
}

.fc-daygrid-day-number {
  color: rgba(245, 240, 232, 0.8);
  font-family: monospace;
}

/* Events */
.fc-event {
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  /* background: linear-gradient(90deg, #14b8a6, #3b82f6); */
  border-radius: 8px;
  padding: 2px 6px;
  color: white;
  font-size: 0.85rem;
  transition: all 0.3s ease;
}

.fc-event:hover {
  background: linear-gradient(90deg, #3b82f6, #6366f1);
  transform: translateY(-2px) scale(1.05);
  box-shadow: 0 5px 15px rgba(14, 165, 233, 0.7);
}

/* Today Highlight */
.fc .fc-day-today {
  background: rgba(14, 165, 233, 0.08);
  border: 2px solid rgba(99, 102, 241, 0.4);
}

/* Responsive Design */
@media (max-width: 768px) {
  .fc {
    padding: 2px;
    border-radius: 8px;
    font-size: 0.8em;
  }

  .fc-toolbar-title {
    font-size: .5em;
  }

  .fc-header-toolbar {
    padding: 0.5em;
  }

  .fc .fc-button {
    font-size: 0.8em;
    padding: 0.3em 0.6em;
    border-radius: 2px;
  }

  .fc-daygrid-day {
    border-width: 1px;
    padding: 0.5em;
  }

  .fc-daygrid-day-number {
    font-size: 0.5em;
    padding: 6px;
  }

  .fc-event {
    font-size: 0.8em;
    margin: 2px;
    padding: 0.2em 0.4em;
  }

  .fc-daygrid-day:hover {
    transform: none;
    background-color: rgba(255, 255, 255, 0.1);
  }

  /* Hide days of the week */
  .fc-daygrid-weekday {
    display: none;
  }

}